<!-- Preloader Start -->
<div class="preloader">
	<div class="rounder"></div>
</div>
<!-- Preloader End -->


<div id="main">
	<div class="container">
		<div class="row">
			<!-- Blog Post (Right Sidebar) Start -->
			<div class="col-md-12">
				<div class="col-md-12 page-body">
					<div class="row">


						<div class="sub-title">
							<h2>coder.fyi</h2>
							<a href="/contact"><i class="icon-envelope"></i></a>
						</div>


						<div class="col-md-12 content-page">

							{{ range (.Paginator 10).Pages.ByPublishDate }}
									{{ .Render "li" }}
							{{ end }}

							<div class="col-md-12 text-center">
								{{ partial "pagination" . }}
							</div>

						</div>

					</div>

				</div>

			</div>
			<!-- Blog Post (Right Sidebar) End -->

		</div>
	</div>
</div>
    